<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
	   	
	   <!-- 配置一个bean -->
	   <bean id="duke" 	class="com.zcx.spring.Juggler" >
	   		<!--给构造函数传递参数，没有的话则调用默认构造方法  -->
	   		<constructor-arg value="15"/> 
	   </bean>
	   
	   <bean id="sonnet29" class="com.zcx.spring.Sonnet29"></bean>
	   
	   <bean id="poeticDuke" class="com.zcx.spring.PoeticJuggler">
	   		<constructor-arg value="22"></constructor-arg>
	   		<!-- 基本数据类型参数用value=字符串（Spring根据构造参数类型自动解析字符串），
	   		                 引用类型的参数用ref= bean id -->
	   		<constructor-arg ref="sonnet29"></constructor-arg>
	   </bean>
	   
	   <!-- factory-method通过工厂方法将单例类配置为bean，因为Stage没有构造函数 -->
	   <bean id="theStage" class="com.zcx.spring.Stage" factory-method="getInstance">
	   </bean>
	   
	   <bean id="saxophone" class="com.zcx.spring.Saxophone"/>
	   
	   <bean id="kenny" class="com.zcx.spring.Instrumentalist">
	   		<!-- 配置属性song -->
	   		<property name="song" value="ABC"></property>
	   		<!-- 配置属性age，虽然此处是字符串“14”，但是Spring会识别age的类型，然后把字符串“14”转变后赋值给age -->
	   		<property name="age" value="14"></property>
	   		<!-- 配置instrument对象，用ref的方式赋引用，和构造函数一致 -->
	   		<property name="instrument" ref="saxophone"></property>
	   </bean>

</beans>
